
<div class="contain">
<div class="container" >
    <div class="kore1">
        <div class="images">
            <img src="../../assets/images/innov.jfif" class="
                image" alt="...">
        </div>
        <div class="content">
            <h1>Innovative</h1>
            <p>Agile is an iterative approach to project management and software
                development that helps teams deliver value to their customers
                faster and with fewer headaches. Instead of betting everything
                on a "big bang" launch, an agile team delivers work in small,
                but consumable, increments.</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button" (click)="hello()">Button</button>
                    </div>

        </div>
    </div>

</div>
</div>